.sidebar-wrapper {
  width: 260px;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
  z-index: 1000;
}

@media (max-width: 991.98px) {
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
  }
}
